body {
  background: black;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 8px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: red;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 0 10px red;
}

button:hover {
  box-shadow: 0 0 20px red, 0 0 40px red;
}

#result {
  margin-top: 20px;
}

.group {
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
}

.green {
  color: lime;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}
